* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

strong {
  color: hsl(160deg 100% 30%);
}

.max-width-wrapper {
  margin: auto;
  max-width: 632px;
}

.intro-chunk {
  margin-bottom: 48px;
  max-width: 352px;
  padding-left: 24px;
}

.title {
  margin-bottom: 48px;
  margin-top: 64px;
}

main {
  background-color: hsl(0deg 0% 50%);
  border-top: 8px solid hsl(0deg 0% 60%);
  padding-bottom: 48px;
  padding-top: 48px;
}

.card {
  background-color: hsl(0deg 0% 100%);
  border-bottom: 8px solid hsl(0deg 0% 60%);
  padding-left: 24px;
  padding-right: 24px;
}

.indented-heading {
  background-color: hsl(45deg 100% 50%);
  border-bottom: 8px solid hsl(45deg 100% 40%);
  display: inline-block;
  margin-left: -32px;
  margin-top: 8px;
  padding: 16px 32px;
  width: fit-content;
}
